#brace-editor {
    min-width: 100% !important;
}

body {
    background-color: #282c34;
    color: whitesmoke;
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.navbar .container {
    margin-left: 20px;
}

.content.container {
    width: 100%;
}

.switch-pill {
    padding-top: 14px;
}

.switch {
    display: inline-block;
    width: 40px;
    height: 26px;
}

.switch-input {
    display: none;
}

.switch-primary .switch-input:checked+.switch-slider {
    background-color: #20a8d8;
    border-color: #1985ac;
}

.switch-pill .switch-slider {
    border-radius: 50em;
}

.switch-slider {
    position: relative;
    display: block;
    height: inherit;
    cursor: pointer;
    background-color: #a6a6a6;
    border: 1px solid #fff;
    transition: .15s ease-out;
    border-radius: .25rem;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}